body{
    background-color: #151515;
    color:white;
    font-family: sans-serif;
}
h2{
    line-height: 0;
}
#h-txt{
    font-size:20px;
}
hr{
    margin-left: -8;
    margin-right: -8;
    border:white .010px solid;
}
a{
    color:gainsboro;
    text-decoration: none;
}
pre{
    font-size: 15px;
    font-family: sans-serif;
}